*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style-type: none;
}
.wrapper {
  min-height: 100vh;
  word-break: break-word;
}
.wrapper, .wrapper>.content {
  display: flex;
  flex-direction: column;
}
.wrapper>.content {
  flex-shrink: 0;
  flex-grow: 1;
}
.container {
  position: relative;
  min-width: 320px;
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
}
header {
  background: #fff;
  border-bottom: 1px solid #d6dbe5;
  height: 56px;
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  align-items: center;
}
.nav-list__menu + .nav-list__menu{
  margin-left: 20px;
}
.nav-list__link {
  padding: 20px 0;
}
.main-content {
  display: flex;
  margin: 50px 0;
}
.main-content main {
  flex: 1 0 70%;
  max-width: 70%;
}
.main-content--article main {
  flex: 1 0 100%;
  max-width: 100%;
}
.main-content aside {
  flex: 1 0 30%;
  max-width: 30%;
}
.item-list {
  padding-right: 20px;
}
.item-list__img, .article__img {
  border-radius: 15px;
  background: #00b8ff;
  margin-bottom: 20px;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #fff;
}
.item-list__item:not(:last-child) {
  margin-bottom: 20px;
}
.item, .fixed-block, .article {
  background: #fff;
  border: 1px solid #d6dbe5;
  border-radius: 15px;
  padding: 20px;
}
.article__desc {
  font-size: 18px;
}
@media(min-width: 1025px){
  .container {
    max-width: 1200px;
  }
}
